DB_URL=jdbc:postgresql://localhost:5432/fitness_tracker
DB_USERNAME=postgres
DB_PASSWORD=password

DEV_SECRET_KEY=change-me

JWT_KEY_EXPIRATION=3600000
JWT_REFRESH_KEY_EXPIRATION=604800000

SPRING_PROFILES_ACTIVE=dev
