# Base de datos
DB_URL=jdbc:postgresql://postgres:5432/fitness_db
DB_USERNAME=tu_usuario_db
DB_PASSWORD=change-me
DB_NAME=fitness_db

# JWT
SECRET_KEY=change-me
JWT_KEY_EXPIRATION=3600000
JWT_REFRESH_KEY_EXPIRATION=604800000

# Spring
SPRING_PROFILES_ACTIVE=prod

# Versión de la imagen (para el build-arg)
APP_VERSION=0.0.1

# Profile picture upload
PROFILE_PICTURE_MAX_SIZE=5242880
PROFILE_PICTURE_ALLOWED_TYPES=image/jpeg,image/png

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=fitness-tracker
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
